<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projects</title>
</head>
<body>
<h1>Projects</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}">
        <td th:text="${project.name}"></td>
        <td>
            <a th:href="@{/projects/edit/{id}(id=${project.id})}">Edit</a>
            <a th:href="@{/projects/delete/{id}(id=${project.id})}">Delete</a>
            <a th:href="@{/projects/{id}(id=${project.id})}">Details</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/projects/create}">Create New Project</a>
</body>
</html>
